
/* GLOBAL */
/*
	*{
		box-sizing: border-box;	
	}
	body,html{
		min-height: 100vh;
	}*/
	/*#horizontal,
	.logo-menutop{
		display: none;
	}*/
/*  #bg-homepage{
  	width: 100%;
  }*/
	a:hover, a:focus{
		text-decoration: none !important;
	}

/* FONTS */

	

 /* @font-face{
    font-family: "cmb";
    src: url("https://fonts.google.com/specimen/Varela") format("Varela")
  }*/
	body, p, a, span, button{
		font-size: 18px;
		/*font-family: "customFont" !important;*/
	}

 /* @font-face{
    font-family: "PatrickHand";
    src: url("http://127.0.0.1/ph/assets/f4ed8757/font/laRaffinerie3/PatrickHand-Regular.ttf") format("ttf");;
  }*/
	/*body, p, a, span, button{
		font-size: 18px;
		font-family: "customFont" !important;
	}
	h1, h2, h3, h4{
		font-family: "customFont" !important;
	}
	h3{
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 21px;
	}*/

/* BUTTONS */

  .titleFont1{
    font-family: "Satisfy" !important;
    /*font-weight: bold;*/
  }

  .titleFont2{
    font-family: "PatrickHand" !important;
    /*font-weight: bold;*/
  }

	.customBtn{
	}
	.customBtnLine{
		background-color: #fff;
		display: inline-block;
	}
	.customBtnFull{
		/*display: block;*/
		padding: 3px 8px;
		border-radius: 10px;
		color: #fff !important;
		/*max-width: 125px;*/
		text-align: center;
		font-size: 18px;
	}
	.customBtnTrigger{
		color: #fff;
    border: none;
    padding: 3px 8px;
    border-radius: 5px;
	}
  .customBlock{
		padding: 30px 20px;
  	margin-bottom: 50px;
  	background-color: #fff;
  }
  /*.main-container{
  	padding-top: 80px;
  	min-height: auto;
  }*/
  .project{
  	position: relative;
  	Xborder: 2px solid red;
  	height: calc(100vh - 80px);

  }
  .projectWrapper,
  .projectMask{
		/*position: absolute;
		top: 0;
		left: 210px;
		height: calc(100vh - 60px);
		width: calc(100vw - 210px);*/
		/*overflow: auto;
		padding: 50px;*/
	/*	z-index: 100;
		max-width: 1200px;*/
  	background-color: #eeecee;
  }
  .projectMask{
  	z-index: 200;
  	background-color: rgba(255,255,255, 1);
  }
  .projectMaskContent{
  	display: table;
  	height: 100%;
  	width: 100%;
  }
  .projectMaskCell{
  	display: table-cell;
  	height: 100%;
  	width: 100%;
  	vertical-align: middle;
  	text-align: center;
  }
  .projectNav{
  	/*position: absolute;
  	top: 0;
  	left: 0;*/
  	height: calc(100vh - 60px);
		overflow: auto;
  	padding: 0;
  	background-color: #FFF;
  	/*width: 210px;*/
  	/*box-shadow: 1px 0px 10px rgba(0,4,0,0.3);*/
  }
  .projectNav ul{
  	padding: 0;
  }
  .projectNavTriggerMobile{
		display: none;
  }
  .projectNavContent{
  	height: calc(100vh - 80px);
  	padding-top: 15px;
  }
  .projectNavContent li{
  	list-style: none;
  	padding-left: 15px;
  }
  .projectNavContent a{
  	position: relative;
  	display: inline-block;
  	padding: 5px 10px 5px 0px;
  	text-decoration: none !important;
  	line-height: 17px;
  	margin-bottom: 5px;
  }
  .projectNavContent a::after{
  	content: '';
  	position: absolute;
  	left: 0;
  	bottom: 0;
  	height: 4px;
  	width: 36px;
  	background-color: transparent;
  }
  .projectNavContent a.active{
  	border-color: rgba(239,42,0, 1);
  }
  .projectNavContent a:not(.active):hover{
  	Xborder-right: 4px solid rgba(0,0,0, 0.15);
  }
  .projectNavFirstLvl > li > a{
		font-weight: bold;
		text-transform: uppercase;
  }
  .projectNavSecondLvl li{
		Xpadding-left: 27px;
  }
  .projectNavThirdLvl{
  	display: none;
  }
  .projectNavThirdLvl li{
  	padding-left: 40px;
  }
  .toggleProjects{
  	font-size: 8px;
    vertical-align: 2px;
    opacity: 0.4;
    margin-left: -5px;
    cursor: pointer;
    padding: 5px;
  }
  .toggleProjects:hover{
    opacity: 1;
  }
  .toggleAllProjects{
  	margin-left: 16px;
  	margin-bottom: 15px;
  	padding: 3px 6px 2px 6px;
  	border: none; 
  	border-radius: 7px;
  	font-size: 11px; 
  	text-transform: uppercase;
  	color: #fff;
  	background-color: #aaa;
  	opacity: 0.5;
  }
  .toggleAllProjects:hover{
  	opacity: 1;
  	background-color: #a7a7a7; 
  }
  .projectHeader{
  	position: relative;
  	margin-bottom: 0;
  }
  .projectAdmin{
  	position: absolute;
  	top: 0;
  	right: 0;
  	height: 30px;
  	width: 30px;
  	padding: 5px;
  	text-align: center;
  	background-color: rgba(0,0,0,.7);
  }
  .projectAdmin i{
  	width: 100%;
  	vertical-align: 1px;
  	color: #fff;
  }
  .projectBanner{
  	min-height: 160px;
  	background-position: center;
  	background-size: cover;
  }
  .projectThumb{
		position: absolute;
		bottom: 34px;
		left: 26px;
		width: 140px;
		height: 140px;
		border: 1px solid rgba(255,255,255, 0.8);
		background-size: cover;
		background-position: center;
		box-shadow: 1px 0px 10px rgba(0,4,0,0.3);
  }
  .projectShortDescription{
  	position: absolute;
  	bottom: 36px;
  	left: 0;
  	text-align: left;
  	width: 100%;
  	line-height: 20px;
  	color: #FCFCFC;
  	padding: 10px;
  	padding-left: 190px;
  	background-color: rgba(0,0,0,0.75);
  	text-transform: uppercase;
  }
 

  
  #projectDescription{
  	text-align: left;
  }
  #projectDescription .customBtnTrigger{
  	display: inherit;
  	margin: 30px auto 0 auto;
  }
  /*#projectDescription #descriptionAbout{
  	max-height: 148px;
  	overflow: hidden;
  	font-family: "cmb" !important;
  }*/
  #projectChildren .col{
  	padding-left: 60px;
  	padding-right: 60px;
  }
  /*#projectChildren div{
    width: 150px;
    padding: 10px;
  }*/

  #projectChildren .projectsList, #projectChildren .poles{
    /*width: 180px;
    height: 180px;*/
    width: 130px;
    height: 130px;
    padding: 10px;
    word-wrap: break-word;
  }

  #projectChildren a{
  	display: block;
  	position: relative;
  	padding-bottom: 100%;
  	/*text-transform: uppercase;*/
  	background-size: cover;
  	background-position: center;
  	color: #fff;
  	border-radius: 50%;
  	width: 130px;
    height: 130px;
    font-size: 24px;
  }
  #projectChildren a span{
  	display: table;
  	position: absolute;
  	top: 0;
  	left: 0;
		width: 100%;
		height: 100%;
  	font-size: 25px;
  	text-align: center;
  	border-radius: 50%;
  	/*background-color: rgba(0,0,0, 0.5);*/
  	border: 4px solid transparent;
  	/*Xpadding: 15px;*/
  }
  #projectChildren a span:hover{
		color: rgba(0,0,0,0.2);
		background-color: rgba(0,0,0,0);
  }
  #projectChildren a span h4{
   	display: table-cell;
   	height: 100%;
   	width: 100%;
   	vertical-align: middle;
  }
  #projectChildren h3{
		margin-bottom: 45px;
  }
  .projectInfos{
  	padding: 0;
  	/*margin-top: 60px;*/
  }
  .projectInfosHeader .nav-tabs{
  	margin: 0;
  }
  .projectInfosHeader .nav-tab{
  	padding: 0;
  	margin-bottom: 0 !important;
  	border: none !important;
  }
  .projectInfosHeader .nav-tab a{
  	display: block;
  	text-align: center;
  	padding: 10px;
  	background-color: transparent !important;
  	border: none !important;
  	margin: 0 !important;
  	font-size: 18px;
  }
  .projectInfosHeader .nav-tab a:hover{
  	color: #fff !important;
  	border-radius: 0;
    background-color: #7aba59 !important;
  }
  .projectInfosHeader .nav-tab a.active{
  	color: #fff !important;
  	border-radius: 0;
    background-color: #7aba59 !important;
  }
  .projectInfosHeader .nav-tab.active:first-of-type a{
  	border-radius: 4px 0 0 0;
  }
  .projectInfosHeader .nav-tab.active:last-of-type a{
  	border-radius: 0 4px 0 0;
  }
  .projectInfosContent{
  	padding: 20px;
  }
  .customTab{
  	position: relative;
  	display: none;
  	margin-top: 2px;
  }
  .closeCustomTab{
  	display: block;
  	/*position: absolute;
  	top: 10px;
  	right: 10px;*/
  	padding: 4px 10px;
		margin: 30px auto 0 auto;
  	text-align: center;
  	background: none;
  	color: #888;
  	border: 1px solid #888;
    z-index: 1;
  }
  .closeCustomTab:hover{
		background-color: #888;
		color: #FFF;
  }

	/* ARTICLE */

	article{
		max-width: 750px;
		padding: 40px ;
		margin: 0 auto;
		text-align: justify;
	}
	article p,
	article li{
		font-size: 20px;
	}
	article img{
		width: 100%;
		height: auto;
		margin: 40px 0;
	}

  @media screen and (max-width: 992px){
  	.project{
  		height: calc( 100vh - 50px );
  	}
  	.projectNav{
  		left: -100%;
  		top: 0;
  		width: 100%;
  		height: calc(100vh - 50px);
  		z-index: 1000;
  		position: absolute;
  	}
  	.projectWrapper,
  	.projectMask{
  		left: 0;
  		width: 100%;
  		padding: 20px;
  		height: calc( 100%);
  	}
  	.projectwrapper{
  		z-index: 900;
  	}
  	#mainNav{
  		height: 50px;
  	}
  	#mainNav .logo-menutop{
			margin-left: 50px;
			width: 40px;
			height: auto;
  	}
  	#mainNav #dropdown-apps #dropdownApps {
	    background: none;
	    color: white;
	    border: none;
	    font-size: 40px !important;
	}
  	.projectNavTriggerMobile{
  		display: block;
  		position: fixed;
  		top: 5px;
  		left: 5px;
  		height: 40px;
  		width: 40px;
  		z-index: 9999999;
  		text-align:center;
  	}
  	.projectNavTriggerMobile i{
  		color: #222;
  		font-size: 45px;
  		/*vertical-align: -16px;*/
  	}
  	.projectBanner,
  	.projectShortDescription{
  		display: none !important;
  	}
  	.projectThumb{
  		position: relative;
  		top: 0;
  		left: 0;
  		width: 100%;
  	}
  	
  	#projectChildren .col{
  		padding-left: 15px;
  		padding-right: 15px;
  		margin-bottom: 20px;
  	}
  	#projectChildren a span h4 {
	    font-size: 17px;
	    line-height: 23px;
		}
		.closeCustomTab{
			top: -20px
    	padding: 0px 6px;
		}
		#projectContacts .col{
			margin-bottom: 20px;
		}
  }

.eventDirRaf{
	height : 150px;
	font-size:18px
}


.eventDirRaf a {
	/*height: -webkit-fill-available; */
	/*background-color: #a182ae; */
	color :white
}

.eventDirRaf a img{
	/*height: 150px; */
	width: 100%;
}

.eventDirRaf .divImg {
  height: 150px;
  overflow: hidden;
}

.eventDirText{
	position: relative; 
	height: 150px;
}

.eventDirText div{
	position: absolute; 
	top: 50%; 
	transform: translateY(-50%); 
	left: 0px;
}



.lbh-menu-app{
	font-size: 18px;
}

#showHideCalendar{
	font-size: 18px;
}

body #descriptionAbout, #descriptionAbout p, #descriptionAbout a, #descriptionAbout span, #descriptionAbout button{
    font-size: 16px !important;
    /*font-family: "customFont" !important;*/
  }

#mainNav .logo-menutop{
  margin-top: -8px !important;
}
.navbar-custom{
  text-transform: none !important;
}
