.header{
	position: absolute;
	margin-left: 19vw;
	margin-top: 3vw;
}
.nameMenuTop{
	color: black;
}

#filters-nav{
	position: absolute;
}

#show-bottom-add{
	display: none;
}

.menuRight {
    position: absolute !important;
}

.menuRight_body{
	height: 412px !important;
}

#menuApp{
	display: none;
}

#mapHubMednum{
	height: 500px;
}

.contain{
	margin-left: 12%;
	margin-right: -13%;
}

 #donation-btn{
    display: none;
 }

#second-search-bar{
    border-radius: 35px 35px 35px 35px !important;
    height: 50px !important;
    width: 81vw !important;
    /*margin-left: -10Vw;*/
    background-color:#d7e4e0;
    color:black;
}

#dropdown{
	display: none;
	background-color: whitesmoke;
	width: 77%;
	z-index: 1000;
	margin-top: -4.4%;
}

#containerCard{
	box-shadow: 0px 0px 11px;
	width: 19vw;
	height: 499px;
	margin-left: 4vw;
}

#searchBar{
	margin-top: -7vw;
	position: relative;
}

#second-search-bar-addon-mednum{
	border-color: transparent;
	background-color: transparent;
	margin-left: -81vw;
}

.searchIcone{
	color: black;
	font-size: 38px;
}

.ultra{
	width: 55vw;
}

.actu{
	background-color: #300080;
}

#actualite{
	margin-top: 5vw;
}

.explication-title{
    text-align : center;
    color : white
}

.explication{
    /*margin-top:3%;*/
    margin-left: 10%;  
    margin-right: 10%;
}

.explication-acteurs{
    margin-top:3%;
    margin-left: 10%;  
    margin-right: 10%;
}

.backLeft{
	width: 3vw;
	margin-top: 11vw;
	position: absolute;
	margin-left: 11vw;
}

.backRight{
	transform: rotate(180deg);
	width: 3vw;
	margin-top: 10.2vw;
	position: absolute;
	margin-left: 2vw;
}

.txtHeader{
	position: absolute;
	color:white;
	font-size: 78px;
	margin-left: 12vw;
	margin-top: 45vw;
}

.titleBandeau{
	font-family: 'Covered By Your Grace', cursive !important;
}

.icoBandeau{
	width: 3vw;
}

.logoApp{
	width: 15vw;
	margin-top: 2vw;
}

@media (max-width:768px){
	#second-search-bar{
		margin-left: 7vw;
	}

	.card{
		margin-top: 4vw;
	}

	.hexagon1 {
    	width: 543px;
	}
	
	.svg{
		width: 80vw;
	}

	.ultra{
		width: 50vw;
	}

	.txtHeader{
		font-size: 18px;
	}

	.titleBandeau{
		font-size:20px;
	}

	.icoBandeau{
		width: 6vw;
	}

	.contain{
		margin-left: 0% !important;
		margin-right: 0% !important;
	}

	#containerCard{
		width: 91vw;
		height: 250px;
		margin-left: 0vw;
		margin-top: 5vw;
	}

	.logoApp{
		width: 22vw;
		margin-top: 6vw;
	}

	.plus{
		margin-top: 9.2vw !important;
	}
}